@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  /* background: linear-gradient(to right,pink,skyblue); */
  background: #282936;
  font-family: 'Orbitron', sans-serif;
}

header {
  /* font-family: 'Sevillana', cursive; */
  font-size: 23px;
}

h1 {
  text-align: center;
  text-shadow: 0px 0px 3px #fff;
}

h1:hover {
  text-shadow: 0px 0px 5px #fff;
}

#cal {
  border: 2px solid black;
  width: 445px;
  margin: 0 auto;
  height: 580px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #333333;
  background: #ABE9B3;
}

.box-1 {
  border: 2px solid black;
  width: 350px;
  height: 130px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  font-size: 40px;
  padding: 20px;
  background: #FAE3B0;
}

.box-2 {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.box-2 div {
  cursor: pointer;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  padding-top: 12px;
  margin-top: 10px;
}

.box-2 div:hover {
  background: lightgrey
}


.button {
  box-shadow: 0px 0px 3px black;
  background: #DDB6F2;  
  -webkit-user-select: none; /* Para navegadores webkit como Safari */
  -moz-user-select: none; /* Para navegadores Gecko como Firefox */
  -ms-user-select: none; /* Para navegadores de Microsoft como Edge */
  user-select: none;
}

.button:active {
  box-shadow: 0px 0px 5px black;
  position: relative;
  top: 2px;
}


.suma {
  width: 130px;
}

.sum2 {
  flex-grow: 0.6;
}

